@{

    <form method="post" asp-controller="ToDoCapstone" asp-action="AddToDo">
        <label for="Details">Details</label>
        <input type="text" name="Details" required />
        <br />

        <label for="DueDate">Due Date</label>
        <input type="date" name="DueDate" />
        <br />

        <input type="submit" />
    </form>
}
